* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ClashDisplay-Variable';
}

/* navbar */

nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 20px;
}
nav .logo{
    height:100% ;
    width: auto;
}
nav .logo img{
    height: 100%;
    width: auto;
}
@media screen and (max-width:710px) {
    nav .logo{
        height: 55%;
    }
}


/* main form */

.main_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
    color: white;
}

.main_form .heading{
    background: linear-gradient(to bottom , #952B7A , #E81F6C);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 30px 20px;
    flex-direction: column;
}
.main_form .heading h1{
    font-weight: 500;
}
.main_form .heading .spans{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main_form .heading .spans span{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5rem;
    margin-right: 25px;
    position: relative;
}
.main_form .heading .spans span::before{
    content: '';
    height: 2px;
    width: 25px;
    background: white;
    position: absolute;
    right: -65%;
}
.main_form .heading .spans .s_3::before{
    display: none;
}
.main_form .heading .spans .s_2,.s_3{
    opacity: .5;
}

.main_form .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
    color: black;
    margin: 20px 0;
    padding: 20px;
}
.main_form .card h1{
    margin-bottom: 15px;
}
.main_form input{
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.22);
}
.main_form input::placeholder{
    color: black;
    font-weight: 400;
    letter-spacing: 1px;
}
.main_form .card .continue:last-child a{
    text-decoration: none;
    color: white;
}
.main_form .card .continue{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    border: none;
    outline: none;
    background: linear-gradient(to top, rgba(149, 43, 122, 1),rgba(232, 31, 108, 1));
    color: white;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
}
.main_form .card .back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    margin: 20px 0;
    margin-top: 0;
    border: 1px solid #E81F6C;
    cursor: pointer;
}
.main_form .card .back a{
    text-decoration: none;
    color: #E81F6C;
}


.main_form .card select{
    outline: none;
    border: none;
    background: rgba(217, 217, 217, 0.22);
    color: black;
    height: 40px;
    padding: 10px;
    width: 50%;
}
.main_form .card form{
    width: 50%;
    text-align: left;
}
.main_form .card form input{
    width: 100%;
    margin: 5px;
}
.main_form .card form .l_two{
    width: calc(50% - 20px);
}
@media screen and (max-width:610px) {
    .main_form .card .continue{
        width: 90%;
    }
    .main_form .card .back{
        width: 90%;
    }
    .main_form .card input{
        width: 90%;
    }
    .main_form .card select{
        width: 90%;
    }
    .main_form .card form{
        width: 90%;
    }
    .main_form .card form .l_two{
        width: 100%;
    }

}
.main_form #card_two,#card_three{
    display: none;
}
@media screen and (max-width:420px) {
    .main_form .card .continue{
        width: 100%;
    }
    .main_form .card .back{
        width: 100%;
    }
    .main_form .card input{
        width: 100%;
    }
    .main_form .card select{
        width: 100%;
    }
    .main_form .card form{
        width: 100%;
    }
}
@media screen and (max-width:300px) {
    .main_form .heading h1{
        font-size: 1.8rem;
    }
}