* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ClashDisplay-Variable';
}

.nav_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.nav_hero nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
}

.nav_hero nav .logo {
    height: 50px;
    width: auto;
}

.nav_hero nav .logo img {
    width: 100%;
    height: 100%;
}

.nav_hero nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_hero nav ul li {
    list-style: none;
    margin-right: 20px;
    opacity: .8;
    position: relative;
}

.nav_hero nav ul li a {
    text-decoration: none;
    color: black;
}
.nav_hero nav ul .nav_li_two{
    opacity: 1;
}
.nav_hero nav ul .nav_li_two a{
    opacity: 1;
    color: #E81F6C;
}
.nav_hero nav ul .nav_li_two::before{
    content: '';
    height: 3px;
    width: 30%;
    position: absolute;
    background:#E81F6C;
    bottom: -5px;
    border-radius: 500px;
    left: 7px;
}

.nav_hero nav button {
    height: 40px;
    width: 130px;
    padding: 0 12px;
    background: linear-gradient(to top ,#952B7A,#E81F6C);
    border: none;
    outline: none;
    border-radius: 5px;
}

.nav_hero nav button a {
    text-decoration: none;
    color: white;
}
.nav_hero nav .ham{
    height: 50px;
    width: auto;
    display: none;
}
.nav_hero nav .ham img{
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}
.nav_hero nav ul .cross_white{
    display: none;
}


@media screen and (max-width:760px) {
    .nav_hero nav{
        justify-content: space-between;
    }
    .nav_hero nav .logo{
        height: 60%;
    }
    .nav_hero nav .get_started_nav{
        display: none;
    }
    .nav_hero nav .ham{
        display: block;
    }
    .nav_hero nav ul{
        position: absolute;
        width: 100%;
        height: auto;
        display: flex;
        background: linear-gradient(to top , #952B7A , #E81F6C);
        left: 0;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 20px;
        flex-wrap: wrap;
        padding-bottom: 250px;
        top: -100%;
        transition: 0.5s;
        z-index: 999;
    }
    .nav_hero nav ul li a{
        color: white;
    }
    .nav_hero nav ul li{
        position: relative;
        width: 100%;
        margin: 0;
        height: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 30px;
        font-size: 2.5rem;
    }
    .nav_hero nav ul .nav_li_two a{
        color: white;
    }
    .nav_hero nav ul .nav_li_two::before{
        display: none;
    }
    .nav_hero nav ul .cross_white{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }


}

/* hero_section */

.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
}
.hero_section .content{
    display: flex;
    width: 700px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.hero_section .content h1{
    font-weight: 500;
    font-size: 3rem;
}
.hero_section .content p{
    margin: 20px 0;
}
.hero_section .content button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    border: none;
    outline: none;
    background: linear-gradient(to top, rgba(149, 43, 122, 1),rgba(232, 31, 108, 1));
    color: white;
    border-radius: 5px;
}
.hero_section .content button a{
    text-decoration: none;
    color: white;
}

.hero_section .image_section{
    display: flex;
    justify-content: flex-end;
    width:500px ;
    align-items: flex-start;
    padding: 20px;
    padding-top: 40px;
    padding-right: 60px;
    position: relative;
}
.hero_section .image_section .image{
    width: 250px;
    height: auto;
    z-index: 2;
    border-radius: 10px;
    position: relative;
}
.hero_section .image_section .image .circle{
    position: absolute;
    height: 100px;
    width: 100px;
    background: url(../Images/hero-svg-2.png);
    bottom: -55px;
    left: -55px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.hero_section .image_section .image::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    outline: 2px solid rgba(232, 31, 108, 1);
    outline-offset: 10px;
    border-radius: 10px;
    z-index: -4;
}
.hero_section .image_section .image::after{
    content:'';
    position: absolute;
    right:-60px ; 
    top: -40px;
    height: 300px;
    width: 250px;
    background: linear-gradient(to bottom, rgba(149, 43, 122, 1),rgba(232, 31, 108, 1));
    z-index: -1;
    border-radius: 10px;
}
.hero_section .image_section .image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: saturate(150%);
}
.hero_section .image_section .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80%;
    margin: auto;
    border: none;
    outline: none;
    background: linear-gradient(to top, rgba(149, 43, 122, 1),rgba(232, 31, 108, 1));
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: -100px;
    display: none;
}
.hero_section .image_section .btn a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1080px) {
    .hero_section .content{
        width: 600px;
    }
    .hero_section .content h1{
        font-weight: 500;
        font-size: 2.5rem;
    }
    .hero_section .image_section{
        width: calc(100% - 600px);
    }    
}
@media screen and (max-width:980px) {
    .hero_section .content{
        width: 480px;
    }
    .hero_section .content h1{
        font-weight: 500;
        font-size: 2rem;
    }
    .hero_section .image_section{
        width: calc(100% - 480px);
    }    
    .hero_section .image_section .image::after{
        height: 200px;
        width: 170px;
    }
    .hero_section .image_section .image{
        width: 180px;
    }
    .hero_section .image_section .image .circle{
        height: 80px;
        width: 80px;
        left: -40px;
        bottom: -40px;
    }
}
@media screen and (max-width:786px) {
    .hero_section .content{
        width: 100%;
        margin-bottom: 40px;
    }
    .hero_section .content h1{
        font-size: 2.5rem;
    }
    .hero_section{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .hero_section .image_section{
        width: 100%;
        justify-content: center;
        margin: 60px 0;
        padding: 0;
        margin-top: 30px;
    }
    .hero_section .image_section .image::after{
        width: 100%;
        height: 100%;
    }
    .hero_section .image_section .image{
        width: 70%;
    }
    .hero_section .image_section .image .circle{
        width: 100px;
        height: 100px;
        bottom: -55px;
        left: -55px;
    }
}
@media screen and (max-width:610px) {
    .hero_section .content h1{
        font-size: 2rem;
    }
    .hero_section{
        padding: 20px;
    }
}
@media screen and (max-width:465px) {
    .hero_section .content h1{
        font-size: 1.5rem;
    }
    .hero_section .content button{
        display: none;
    }

    .hero_section .content{
        margin-top: 0;
    }
    .hero_section .image_section .image .circle{
        height: 70px;
        width: 70px;
        bottom: -33px;
        left: -43px;
    }
    .hero_section .image_section .image::after{
        right: -50px;
    }
    .hero_section .image_section .btn{
        bottom: -80px;
        display: flex;
        width: 85%;
    }

}
@media screen and (max-width:360px) {
    .hero_section .content h1{
        font-size: 1.1rem;
    }
}

/* carousel_heading */


.carousel_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.carousel_heading h1{
    font-size: 3rem;
}
@media screen and (max-width:420px) {
    .carousel_heading h1{
        font-size: 2rem;
    }
}
@media screen and (max-width:360px) {
    .carousel_heading h1{
        font-size: 1.5rem;
    }
}



/* Actual Carousel */
.actual_carousel{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    margin-bottom: 120px;
    position: relative;
    width: 80%;
}
.actual_carousel .carousel_item{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 25%;
    padding: 20px;
    background: linear-gradient(to top ,#952B7A ,#E81F6C);
    align-items: center;
    flex-wrap: wrap;
    color: white;
    position: relative;
    padding-bottom: 70px;
    margin: 20px;
}
.actual_carousel .carousel_item img{
    margin-bottom: 15px;
}
.actual_carousel .carousel_item .circle{
    height: 110px;
    width: 110px;
    border: 2px solid #E81F6C;
    border-radius: 50%;
    position: absolute;
    left: 31%;
    bottom: -50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actual_carousel .carousel_item .circle img{
    height: 60%;
    width: auto;
}
.actual_carousel  .car_two .circle img{
    width: 70%;
    height: auto;
    margin: auto;
}
.actual_carousel .carousel_item .circle::before{
    content: 'Golden Leaves Funerals';
    position: absolute;
    color: #E81F6C;
    bottom: -30px;
    width: 300%;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.actual_carousel .carousel_item .c_two::before{
    content: 'Float App';
}

@media screen and (max-width:1200px) {
    .actual_carousel .carousel_item .circle{
        left: 25%;
    }
}
@media screen and (max-width:1060px) {
    .actual_carousel{
        width: 90%;
    }
    .actual_carousel .carousel_item .circle{
        left: 25%;
    }
}
@media screen and (max-width:900px) {
    .actual_carousel{
        width: 90%;
        flex-wrap: wrap;
    }
    .actual_carousel .carousel_item{
        width: 100%;
        margin-bottom: 80px;
    }
    .actual_carousel .carousel_item .circle{
        left: calc(50% - 70px);
    }
}
@media screen and (max-width:500px) {
    .actual_carousel{
        width: 100%;
        margin-bottom: 50px;
    }
    .actual_carousel .carousel_item .circle{
        height: 80px;
        width: 80px;
        left: calc(50% - 50px);
        bottom: -40px;
    }
    .actual_carousel .carousel_item{
        padding-bottom: 40px;
    }

}


/* eighty_M */

.eighty_M{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to bottom , #952B7A,#E81F6C);
    margin-top: 50px;
}
.eighty_M .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    width: 50%;
    
}
.eighty_M .content h1{
    font-size: 5rem;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
.eighty_M .image{
    width: 50%;
    height: 100%;
}
.eighty_M .image img{
    width: 100%;
    height: 100%;
    filter: saturate(150%);
}
@media screen and (max-width:1240px) {
    .eighty_M .content h1{
        font-size: 4.5rem;
    }
}
@media screen and (max-width:1100px) {
    .eighty_M .content h1{
        font-size: 4rem;
    }
}
@media screen and (max-width:1000px) {
    .eighty_M .content h1{
        font-size: 3.5rem;
    }
}
@media screen and (max-width:900px) {
    .eighty_M .content h1{
        font-size: 3rem;
    }
}
@media screen and (max-width:775px) {
    .eighty_M .content h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:675px) {
    .eighty_M{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .six_hundred{
        flex-direction: column;
    }
    .eighty_M .content h1{
        font-size: 2.5rem;
    }
    .eighty_M .content{
        width: 100%;
    }
    .eighty_M .image{
        width: 100%;
    }
}
@media screen and (max-width:480px) {
    .eighty_M .content h1{
        font-size: 2rem;
        text-align: center;
    }
}
@media screen and (max-width:415px) {
    .eighty_M .content h1{
        font-size: 2rem;
        text-align: center;
    }
}
@media screen and (max-width:365px) {
    .eighty_M .content h1{
        font-size: 2rem;
        text-align: center;
    }
}
@media screen and (max-width:305px) {
    .eighty_M .content h1{
        font-size: 1.5rem;
        text-align: center;
    }
}


/* main_work_with */

.main_work_with{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 100%;
    height: auto;
}
.main_work_with img:nth-child(1){
    height: 50px;
    width: auto;
}
.main_work_with img{
    height: 40px;
    width: 100px;
}
.main_work_with .mak_b{
    height: 20px;
    width: auto;
}
.main_work_with img:nth-last-child(1){
    height: 60px;
    width: auto;
}
@media screen and (max-width:720px) {
    .main_work_with{
        padding: 0 20px;
        flex-wrap: wrap;
    }
    .main_work_with .gyiBas{
        display: none;
    }
    .main_work_with img{
        height: auto;
        width: 25%;
    }
}
@media screen and (max-width:700px) {
    .main_work_with{
        flex-wrap: wrap !important;
        justify-content: center;
    }
    .main_work_with img{
        height: 40px;
        width: 120px;
        margin: 15px 20px;
    }
}
@media screen and (max-width:390px) {
    .main_work_with img{
        margin: 15px 10px;
    }
    .main_work_with{
        padding: 30px 0;
    }
}
@media screen and (max-width:310px) {
    .main_work_with{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px;
    }
    .main_work_with img{
        margin: 10px 10px;
    }
    .main_work_with{
        padding: 30px 0;
    }
}


/* services_heading */


.services_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px 0;
    flex-direction: column;
}



/* main_service */

.main_service{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.main_service .card{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: calc(33% - 40px);
    border: 1px solid #952B7A;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    color: black;
    transition: 0.4s;
    cursor: pointer;
}
.main_service .card h3{
    margin: 20px auto;  
    color: #E81F6C;
}
.main_service .card .image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 6px 4px rgb(0, 0, 0,.1);
    margin: auto;
    background: white;
}
.main_service .card .image img{
    height: 50px ;
    width: auto;
}
.main_service .card .image ion-icon{
    height: 60px ;
    width: 80px;
    color: #E81F6C;
}
@media screen and (max-width:1245px) {
    .main_service .card{
        width: calc(50% - 40px);
    }
}


@media screen and (max-width:820px) {
    .main_service .card{
        width: 100%;
    }
}
@media screen and (max-width:415px) {
    .main_service .card h3{
        font-size: 1rem;
    }
}




/* stratigio */

.stratigio{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.stratigio img{
    width: 100%;
    height: auto;
    filter: saturate(150%);
}

/* foooter */

footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 20px;
    background: #1A1A1A;
    color: white;
    flex-wrap: wrap;
}
footer .portion_one{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    height: auto;
    flex-wrap: wrap;
}

footer .portion_one .content button{
    border: 1px solid white;
    height: 40px;
    padding: 5px 10px;
    background: transparent;
    margin-top: 15px;
    border-radius: 5px;
}
footer .portion_one .content button a{
    text-decoration: none;
    color: white;
}
footer .portion_two{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    width: calc(100% - 650px);
}
footer .portion_two .inner_one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer .portion_two .inner_one button{
    background: transparent;
    border: none;
    outline: none;
}
footer .portion_two .inner_one button a{
    text-decoration: none;
    color: white;
}
footer hr{
    width: 85%;
    height: 1px;
    border: none;
    background-color: white;
    margin: 20px auto;
    margin-top: 60px;
}

@media screen and (max-width:1080px) {
    footer .portion_one{
        width: 100%;
    }
    footer .portion_two{
        margin-top: 60px;
        width: 80%;
        justify-content: space-between;
    }
    footer{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:550px) {
    footer .portion_two{
        width: 100%;
        margin-top: 40px;
    }
    footer .portion_two .inner_one{
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:420px) {
    footer .portion_one .content h1{
        font-size: 1.5rem;
        text-align: center;
    }
    footer .portion_one .content button{
        width: 100%;
    }
    footer hr{
        margin-top: 30px;
    }
    footer .portion_two{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    footer .portion_two .inner_one{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right:0 ;
    }

}

/* footer_two */

.footer_two{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background:#1A1A1A ;
    color: white;
    padding: 10px 20px;
    flex-wrap: wrap;
}
.footer_two .content{
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 70%;
}
.footer_two .social_media{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-right: 10px;
}
.footer_two .social_media a{
    text-decoration: none;
    margin: 0 5px;
}
@media screen and (max-width:520px) {
    .footer_two{
        flex-direction: column;
    }
    .footer_two .content{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer_two .social_media{
        width: 100%;
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}
